.view-account{
  height: 80%;
  color: white;
  border-radius: 50px;
  margin-top: 60px;
}

.name{
  font-size: 20px;
}
.table{
  font-size: 15px;
}
input::-webkit-input-placeholder {
  color: #666666;
}

input:-moz-placeholder {
  color: #666666;
}

input::-moz-placeholder {
  color: #666666;
}

input:-ms-input-placeholder {
  color: #666666;
}

textarea::-webkit-input-placeholder {
  color: #666666;
}

textarea:-moz-placeholder {
  color: #666666;
}

textarea::-moz-placeholder {
  color: #666666;
}

textarea:-ms-input-placeholder {
  color: #666666;
}

.focus-input100-2::before {
  bottom: -1px;
  font-family: 'Lato', sans-serif;
  right: 0;
}
.view-account .pro-label {
  font-size: 13px;
  padding: 4px 5px;
  position: relative;
  top: -5px;
  margin-left: 10px;
  display: inline-block
}

.view-account .side-bar {
  padding-bottom: 30px;
}
.actions{
  align-content: center;
}
.view-account .side-bar .user-info {
  text-align: center;
  margin-bottom: 15px;
  padding: 30px;
  color: #616670;
  text-align: center;
}
.tag{
  font-size: 20px;
}
.view-account .side-bar .user-info .img-profile {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
  margin-left: 8px;
}
.input100{
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 160px;
  text-align: center;
  margin-left: -5px;
  height: 60px;
}

.view-account .side-bar .user-info .meta li {
  margin-bottom: 10px;
}

.view-account .side-bar .user-info .meta li span {
  display: inline-block;
  width: 100px;
  margin-right: 5px;
  text-align: right
}

.view-account .side-bar .user-info .meta li a {
  color: #616670
}

.view-account .side-bar .user-info .meta li.activity {
  color: #a2a6af
}

.view-account .side-bar .side-menu {
  text-align: center
}

.view-account .side-bar .side-menu .nav {
  display: inline-block;
  margin: 0 auto
}

.view-account .side-bar .side-menu .nav>li {
  font-size: 14px;
  margin-bottom: 0;
  border-bottom: none;
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px
}

.view-account .side-bar .side-menu .nav>li:last-child {
  margin-right: 0
}

.view-account .side-bar .side-menu .nav>li>a {
  display: inline-block;
  color: #9499a3;
  padding: 5px;
  border-bottom: 2px solid transparent
}

.view-account .side-bar .side-menu .nav>li>a:hover {
  color: #616670;
  background: none
}

.view-account .side-bar .side-menu .nav>li.active a {
  color: #2073d4;
  font-size: 16px;
  background: none;
  border-right: none
}

.theme-2 .view-account .side-bar .side-menu .nav>li.active a {
  color: #295DC2;
  border-bottom-color:#295DC2;
  height: 50px;
  width: 100px;
}

.theme-3 .view-account .side-bar .side-menu .nav>li.active a {
  color: #497cb1;
  border-bottom-color: #497cb1
}

.theme-4 .view-account .side-bar .side-menu .nav>li.active a {
  color: #ec6952;
  border-bottom-color: #ec6952
}

.view-account .side-bar .side-menu .nav>li .icon {
  display: block;
  font-size: 24px;
  margin-bottom: 5px
}

.view-account .content-panel {
  padding: 30px;
  background-color: #f6f6f6;

}

.view-account .content-panel .title {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 18px
}

.view-account .content-panel .fieldset-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaf1;
  margin-bottom: 30px;
  color: #616670;
  font-size: 16px
}

.view-account .content-panel .avatar .figure img {
  float: right;
  width: 64px
}

.view-account .content-panel .content-header-wrapper {
  position: relative;
  margin-bottom: 30px;
  align-content: center;
}

.view-account .content-panel .content-header-wrapper .actions {
  position: absolute;
  right: 0;
  top: 0;
  margin-bottom: 20px;
}
.view-account .content-panel .content-utilities {
  position: relative;
  margin-bottom: 30px
}

.view-account .content-panel .content-utilities .btn-group {
  margin-right: 10px;
  margin-bottom: 15px;
  align-content: center;
}
.content-utilities{
  align-content: center;
}
.view-account .content-panel .content-utilities .fa {
  font-size: 16px;
  margin-right: 0
}
.view-account .content-panel .content-utilities .page-nav {
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  margin-right: 10px;
}
.actions{
  position: center;
  text-align: center;
  left: 0;
  top: 0
}
.refresh-trash{
  font-size: 50px;
}
