<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="view-account">
    <section class="module">
      <div class="module-inner">
        <div class="side-bar">
          <div class="user-info">
            <ul class="meta list list-unstyled">
              <li class="name">Rebecca Sanders</li>
              <li class="tag"><label class="label label-info">Alik Member</label></li>
              <div class="changeable-fields">
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <input class="input100" type="text" name="email" placeholder="Email">
                  <span class="focus-input100-1"></span>
                  <span class="focus-input100-2"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <input class="input100" type="text" name="email" placeholder="Номер телефона">
                  <span class="focus-input100-1"></span>
                  <span class="focus-input100-2"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <input class="input100" type="text" name="email" placeholder="Адрес">
                  <span class="focus-input100-1"></span>
                  <span class="focus-input100-2"></span>
                </div>
              </div>
            </ul>
          </div>
          <nav class="side-menu">
            <ul class="nav">
              <li class="active"><a href="#"><span class="fa fa-shopping-cart"></span>Корзина</a></li>
            </ul>
          </nav>
        </div>

        <h2 class="title"></h2>
        <div class="content-panel">
          <div class="content-header-wrapper">

          </div>
          <div class="content-utilities">
            <div class="page-nav">
              <div class="buy-btn">
                <button class="btn btn-success">Купить</button>
              </div>
            </div>
            <div class="actions">
              <div class="btn-group">
                <ul class="dropdown-menu">
                  <li><a href="#">Сначала новые</a></li>
                  <li><a href="#">Сначала старые</a></li>
                </ul>
              </div>
              <div class="refresh-trash">
                <div class="btn-group" role="group">

                </div>
              </div>
            </div>
          </div>
          <div class="drive-wrapper drive-list-view">
            <div class="table-responsive drive-items-table-wrapper">
              <table class="table">
                <thead>
                <tr>
                  <th class="type"></th>
                  <th class="product-name">Имя</th>
                  <th class="date">Цена</th>
                  <th class="size">Количество</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</body>

